
/*font styles*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.merriweather-font_1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font_2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
/* header styles */

header {
    margin: 5px;
}
.banner {
    background-image:linear-gradient(to bottom, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%) ,url('/images/Banner-Image.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    width: 100%;
    height: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.banner-content{
    width: 700px;
    text-align: center;
    color: #FFFFFF;
    
}

.banner-subtitle {
    font-size: 32px;
    margin-bottom: 18px;
}

.banner-title {
    font-weight: bolder;
    font-size: 72px;
}

.off {
    margin-top: 100px;
    text-align: center;

}

.off-title {
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
}

.off-subtitle {
    font-weight: 500;
    font-size: 20px;
    color: #FF0000;
    margin: 48px 0 16px 0;
}

.off-description {
    font-weight: bold;
    font-size: 40px;
    color: #070211;
    margin-bottom: 40px;
}

.party {
    margin: 100px 5px;
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
    background-image:linear-gradient(to right, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100% ),url('/images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    height: 600px;
}

.midnight {
    text-align: left;
    color: white;
    max-width: 700px;
}

.midnight-tile {
    font-weight: 900;
    font-size: 64px;
    line-height: 88px;
    max-width: 650px;
    margin-bottom: 20px;
}

.midnight-description {
    font-size: 18;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 48px;
}

.join-btn > button {
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.address {
    margin: 0 5px 100px 5px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 30px;
}

.address > div p {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
}

.address > div p span {
    color: #FF0000;
}

.address div > button {
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

.offer {
    margin: 0 20px 100px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-offer {
    max-width: 400px;
}


.offer-subtitle {
    font-weight: 400;
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 16px;
}

.offer-title {
    font-weight: 500;
    font-size: 48px;
    color: #070211;
    margin-bottom: 22px;
}

.offer-description {
    font-weight: 300;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}

.offer .year span {
    color: #FF0000;
    font-weight: bold;
    font-size: 48px;
}

.offer-img {
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 20px;
    width: 465px;
    height: 465px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.offer-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.year {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    /* margin-left: auto;
    width: auto; */
    
}

.year img {
    width: fit-content;
}
.year-description {
    font-weight: 300;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin:16px 0 43px;
    max-width: 250px;
}